@media (min-width: 80em) {

    header {
        text-align: center;
        padding: 4%;
    }

    header h1 {
        margin: 10px;
    }
    
    nav {
		flex-direction: row;
        border-left: solid 2px var(--color1);
        
	}

    nav a {
        width: 100%;
        min-width: 100px;
        border-left: none;
	}

    .background-img {
        display: block;
    }

    main {
        position: absolute;
        width: 90%;
        margin: 5% 5%;
    }

    h2 {
        margin-bottom: 5%;
        font-size: 20px;
    }

    .main-grid section {
        margin-bottom: 100px;
    }

    .main-grid img{
        width: 200px;
        height: auto;
    }

    .home-img img {
        width: 100px;
        height: auto;
    }

    .main-grid ul {
        padding-left: 15%;
    }

    .social-container {
        width: 100%;
        left: 0%;
        margin: 0%;
    }

    form {
       margin-left: 10%; 
    }

    input[type="submit"] {
        margin-left: 25%;
        margin-bottom: 2%;
    }

    .social-container {
        margin-top: 10px;
    }

    #island-images {
        overflow-y: hidden;
        max-height: 300px;
    }

    #island-images img {
        width: 23%;
        height: auto;
    }

    .social-media img {
        margin-top: 20px;
    }

    iframe {
        width: 40%;
        height: 400px;
    }
}