* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header, footer {
    padding: 1%;
    background-color: #70161E;
    color: white;
    text-align: center;
    border-bottom: solid 5px #44554D;
}

body {
    font-family: Roboto, arial, sans-serif;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;

}

section {
    padding: 0;
    margin: 5%;
    background-color: rgb(238, 238, 238);

}

p, a {
    margin: 20px;
}

h3 {
    padding: 15px;
    background-color: #7e9c8e;

}

.card {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    border: solid 2px #cacaca;
}

.webimage {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    width: 90%;
    height: auto;
    border: solid 2px #cacaca;
}