@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --header-font: "Raleway", sans-serif;
    --secondary-font: "Public Sans", sans-serif, monospace;
    --fontweight: 600;
    --small-fontsize: 14px;
    --large-fontsize: 18px;
    --primary-color: #01295f;
    --secondary-color: #8eb3c2;
    --accent-color1: #fff;
    --accent-color2: #bbbbbb;
    --accent-color3: #071631;
    --border-radius: 4px;
    --border: solid 1px var(--accent-color2);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100%;
    font-family: var(--secondary-font);
    font-weight: 500;
    font-size: var(--large-fontsize);
    text-align: center;
}

header {
    background-color: var(--primary-color);
    padding: 20px;
    text-align: left;
}

header img {
    margin-left: 20px;
}

.switch {
    position: absolute;
    top: 2rem;
	right: 0.5rem;
    display: inline-block;
    width: 50px;
    height: 25px;
}
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--accent-color2);
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 4px;
    background-color: var(--accent-color1);
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: var(--secondary-color);
}
  
input:focus + .slider {
    box-shadow: 0 0 1px var(--secondary-color);
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(25px);
}
  
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.info-container {
    position: relative;
}

.join { 
    background-color: rgba(197, 197, 197, 0.5);
    padding: 1rem;
    border-radius: var(--border-radius);
    text-align: center;
    margin: auto 5%;
    margin-top: 5px;
}

.join p {
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    max-width: 600px;
    padding: 30px;
    margin: 20px auto;
    border: var(--border);
}

.join-link {
    border-radius: var(--border-radius);
    height: 30px;
    margin: 50px auto 0px auto;
    max-width: 100px;
}

.join-link a {
    font-weight: var(--fontweight);
    border-bottom: solid 5px rgb(0, 0, 0, 0.3);
    margin-bottom: 20px;
    text-decoration: none;
    color: black;
}

.join-link a:hover {
    border-radius: var(--border-radius);
    background-color: rgb(0, 0, 0, 0.3);
}

#hero-image {
    position: absolute;
    left: 0%;
    width: 100%;
}

.menu {
	font-size: 2.3rem;
	border: 0;
	background: none;
	color: var(--accent-color1);
 	position: absolute;
	top: 1.2rem;
	left: 0.1rem;
}

.menu::before {
	content: "☰";
}

.menu.open::before {
	content: "✖";
}

.navigation {
    display: flex;
	flex-direction: column;
    align-items: center;
}

.navigation a {
    display: none;
	padding: 0.3rem;
	text-decoration: none;
	color: black;
    font-weight: var(--fontweight);
    font-size: var(--large-fontsize);

}

.navigation a:hover {
	color: var(--accent-color1);
    width: 150px;
    border-radius: var(--border-radius);
    background-color: rgb(0, 0, 0, 0.5);
}

.open a {
	display: block;
    margin-top: 10px;
}

main {
    height: 100%;
    text-align: center;
}

h1 {
    position: relative;
    font-family: var(--header-font);
    background-color: var(--accent-color3);
    border-radius: var(--border-radius);
    color: var(--accent-color1);
    max-width: 600px;
    padding: 30px;
    margin: 20px auto;
    border: var(--border);
}

h2 {
    padding: 2rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 15% 16% 4% 16%;
    height: 100px;
    font-weight: var(--fontweight);
    font-family: var(--header-font);
}

.spotlight h3 {
    text-align: center;
    font-family: var(--header-font);
    font-weight: var(--fontweight);
    margin: 100px 20px;
}

.spotlight div {
    overflow-y: auto;
    max-height: 200px;
    display: flex;
    flex-direction: column;
}

#banner-button {
    font-size: 1.5rem;
	border: 0;
	background: none;
	color: black;
 	position: absolute;
    right: 0.25rem;
    margin-top: 1px;
}

#banner-button::before {
	content: "✖";
    background-color: var(--accent-color1);
    padding: 0px 4px;
    border: var(--border);
    border-radius: var(--border-radius);
    
}

#banner {
    background-color: #8eb3c2;
    padding: 50px;
    border: var(--border);
    font-weight: 300;
    border-radius: var(--border-radius);
    margin: auto 10px;
}

.weather-card {
    background-color: var(--accent-color3);
    color: var(--accent-color1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    max-width: 1000px;
    padding: 10px;
    margin: auto;
    margin-top: 200px;
    border-top: var(--border);
    border-left: var(--border);
    border-right: var(--border);
    font-weight: 200;
}

#forecast {
    background-image: linear-gradient(var(--primary-color), var(--accent-color3));
    border-radius: var(--border-radius);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    align-items: center;
}

.todays-weather {
    grid-row: 2;
}

#forecast h5 {
    grid-column: 2/5;
}

#forecast div {
    font-size: var(--small-fontsize);
}

footer {
    background: var(--primary-color);
    color: var(--accent-color1);
    padding: 1rem;
    text-align: left;
    font-size: var(--small-fontsize); 
    align-items: center;
}

.footer-info {
    margin-left: 2%;
}

.footer-social {
    margin-left: 8px;
}



.footer-social img {
    margin: 5px;
    border-radius: var(--border-radius);
    border: var(--border);
}

div ~ h1 {
    margin: 100px;
}

.join .welcome {
    padding: 50px;
}

.card {
    background-image: linear-gradient(var(--primary-color), var(--accent-color3));
    padding: 1rem;
    max-width: 400px;
    margin: 5% 10%;
    border-radius: var(--border-radius);
    border: var(--border);
    color: var(--accent-color1);
}

.card h2 {
    margin: 15px;
}

.card img {
    width: 100%;
    height: auto;
}

.discover-main-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 100px;
}

#left-sidebar {
    overflow-y: auto;
    max-height: 1400px;
    font-size: var(--small-fontsize);
}

#discover-img {
    overflow-y: auto;
    max-height: 1300px;
    padding-top: 55px;
}

#discover-img img {
    height: auto;
}

form {
    margin: 100px auto 0px auto;
    max-width: 300px;
    padding-top: 1rem;
}

fieldset {
    border: none;
    margin-bottom: 50px;
}

.application label {
    display: block;
    padding-top: 1.5rem;
}

.application input[type="text"],
.application input[type="email"],
.application input[type="tel"]
{ 
    background-color: #f1f1f1;
    display: block;
    border: var(--border);
    padding: .75rem;
    width: 100%;
    max-width: 400px;
    appearance: none;
}

.application input[type="radio"] {
    margin-right: 6px;
}

.mlevel {
    margin-left: 5%;
    margin-bottom: 5%;
    text-align: left;
}

.application legend {
    font-weight: 800;
}

.join-h2 {
    margin: 0px 10px;
    padding: 0%;
    text-align: left;
}

.benefits {
    margin: 100px auto;
    text-align: left;
    width: 90%;
    padding-top: 1rem;
}

.benefits h3{
    margin-left: 20px;
}

.benefits img {
    margin-top: 50px;
}

.application input[type="submit"] {
    margin-left: 2px;
    margin-bottom: 100px;
    padding: 10px;
    border: var(--border);
    border-radius: var(--border-radius);
    width: 100%;
}

input[type="submit"]:hover {
    transform: scale(1.01);
    box-shadow: 0 0 8px 5px var(--secondary-color);
    transition: 0.1s;
}

.thankyou-page {
    margin: 150px auto;
}

.cards {
    margin: 20px;
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-gap: 5px;
}

.cards h2 {
    margin: 0%;
    padding: 0%;
}

.cards section {
    margin-bottom: 10%;
    padding: 20px;
    border-radius: var(--border-radius);
    border: var(--border);
    box-shadow: 0 0 8px 5px var(--secondary-color);
}

.list {
	display: flex;
	flex-direction: column;
}

.list section {
	margin: 0;
    text-align: left;
    font-size: var(--small-fontsize);
}

.list section > * {
	margin: 0 1rem;
}

.list section img {
	display: none;
}
