@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100%;
    font-family: "Public Sans", sans-serif, monospace;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

#size-label {
    position: absolute;
    font-size: 30px;
    font-weight: 800;
}

header {
    background-color: #01295f;
    color: white;
    padding: 20px 20px;
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    text-align: left;
}

header img {
    margin-left: 20px;
}

.switch {
    position: absolute;
    top: 2rem;
	right: 0.5rem;
    display: inline-block;
    width: 50px;
    height: 25px;
}
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #8eb3c2;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #8eb3c2;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(25px);
}
  
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.info-container {
    position: relative;
}

.join { 
    background-color: rgba(197, 197, 197, 0.5);
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    margin: auto 5%;
    margin-top: 5px;
}

.join p {
    background-color: #8eb3c2;
    border-radius: 5px;
    max-width: 600px;
    padding: 10px;
    margin: 20px auto;
    
}

.join-link {
    border-radius: 25px;
    max-width: 80px;
    height: 30px;
    margin: 50px auto 0px auto;
}

.join-link a {
    font-weight: 700;
    border-bottom: solid 5px rgb(0, 0, 0, 0.3);
    margin-bottom: 20px;
    text-decoration: none;
    color: black;
}

#hero-image {
    position: absolute;
    left: 0%;
    width: 100%;
}

#menu {
	font-size: 2.3rem;
	border: 0;
	background: none;
	color: #ffffff;
 	position: absolute;
	top: 1.2rem;
	left: 0.1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "✖";
}

.navigation {
    display: flex;
	flex-direction: column;
    align-items: center;
    font-size: 12px;
    
}

.navigation a {
    display: none;
	padding: 0.3rem;
	text-decoration: none;
	color: black;
    font-weight: 600;
    font-size: 20px;

}

.navigation a:hover {
	color: white;
    width: 150px;
    border-radius: 5px;
    background-color: rgb(0, 0, 0, 0.3);
}

.open a {
	display: block;
    margin-top: 10px;
}

main {
    height: 100%;
    text-align: center;
}

h1 {
    margin-top: 100px;
}

h2 {
    padding: 2rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 10% 16% 4% 16%;
    height: 100px;
    font-weight: 600;
    font-family: "Raleway", sans-serif;
}

.card {
    background-color: #ebebeb;
    border: solid 2px #d4d4d4;
    padding: 2rem;
    max-width: 400px;
    margin: auto;
    border-radius: 4px;
}

.card h2 {
    margin: 15px;
}

.spotlight h3 {
    position: absolute;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    margin: 10px;
}

.spotlight {
    overflow-x: auto;
    padding-bottom: 10px; 
    display: flex; 
    margin-top: 200px;
    margin-bottom: 50px;
}

.first-logo {
    margin-left: 150px;
}

.spotlight-card {
    padding: 5px;
    margin-top: 40px;
    flex: 0 0 auto;
}

.weather-card {
    background-color: #575757;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    max-width: 800px;
    padding: 10px;
    margin: auto;
    border-top: solid 2px rgb(192, 192, 192);
    border-left: solid 2px rgb(192, 192, 192);
    border-right: solid 2px rgb(192, 192, 192);
    font-weight: 200;
}

h4 {
    margin: 10px;
}

footer {
    background: #01295f;
    color: white;
    padding: 0.5rem;
    text-align: center;
    font-size: 12px; 
}

div ~ h1 {
    margin: 100px;
}

.join .welcome {
    padding: 50px;
}

.card img {
    width: 100%;
    height: auto;
}

.discover-main-grid {
    display: grid;
    grid-template-columns: 1fr;
}

#left-sidebar {
    overflow-y: auto;
    max-height: 1400px;
    font-size: 14px;
}

#discover-img {
    overflow-y: auto;
    max-height: 1300px;
    padding-top: 55px;
}

#discover-img img {
    height: auto;
}

form {
    margin: 100px auto 0px auto;
    max-width: 300px;
    padding-top: 1rem;
}

fieldset {
    border: none;
    margin-bottom: 50px;
}

.application label {
    display: block;
    padding-top: 1.5rem;
}

.application input[type="text"],
.application input[type="email"],
.application input[type="tel"]
{ 
    background-color: #f1f1f1;
    display: block;
    border: solid 1px #999;
    padding: .75rem;
    width: 100%;
    max-width: 400px;
    appearance: none;
}

.application input[type="radio"] {
    margin-right: 6px;
}

.mlevel {
    margin-left: 5%;
    margin-bottom: 5%;
    text-align: left;
}

.application legend {
    font-weight: 800;
}

.join-h2 {
    margin: 0px 10px;
    padding: 0%;
    text-align: left;
}

.benefits {
    margin: 100px auto;
    text-align: left;
    width: 90%;
    padding-top: 1rem;
}

.benefits h3{
    margin-left: 20px;
}

.benefits img {
    margin-top: 50px;
}

.application input[type="submit"] {
    margin-left: 2px;
    margin-bottom: 100px;
    padding: 10px;
    border: solid 1px #8d8d8d;
    border-radius: 4px;
    width: 100%;
}

input[type="submit"]:hover {
    transform: scale(1.01);
    box-shadow: 0 0 8px 5px #8eb3c2;
    transition: 0.1s;
}

.thankyou-page {
    margin: 150px auto;
}

.cards {
    margin: 20px;
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-gap: 5px;
}

.cards h2 {
    margin: 0%;
    padding: 0%;
}

.cards section {
    margin-bottom: 10%;
    padding: 20px;
    border-radius: 5px;
    border: solid 1px #73868d;
    box-shadow: 0 0 8px 5px #8eb3c2;
}

.list {
	display: flex;
	flex-direction: column;
}

.list section {
	margin: 0;
    text-align: left;
    font-size: 16px;
}


.list section img {
	display: none;
}
