@media (min-width: 40em) {

	.menu {
		display: none; 
	}

	.navigation {
		flex-direction: row;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
	}

    #events {
        display: flex;
    }

	.spotlight div {
		overflow-x: auto;
		padding-bottom: 10px; 
		display: flex;
		flex-direction: row;
		margin: 80px 50px 140px 140px;
	}

	.spotlight h3 {
		text-align: left;
	}

	.discover-main-grid {
		grid-template-columns: 1fr 2fr;
	}

	#left-sidebar {
		grid-row: 1;
	}

	.discover-main-grid h1 {
		grid-column: 2;
	}

	#discover-img {
		margin: 0%;
	}

	#discover-img img {
		width: 500px;
	}

	.benefits {
		box-shadow: 1px 2px 4px 2px var(--secondary-color);
	}

	.list section {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		align-items: center;
		font-size: var(--small-fontsize);
	}
}