@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: anek, arial, sans-serif;
} 

header {
    display: grid;
    grid-template-columns: 45% 55%;
    background-color: #70161E;
    height: 150px;
    align-items: center;
    color: white;
    border-bottom: solid 5px #44554D;
}

.myimage {
    display: block;
    margin-left: auto;
    margin-right: 10%;
    width: 70px;
    height: auto;
}

main {
    display: grid;
    grid-template-rows: 1fr;
}

section {
    text-align: center;
    align-items: center;
}

#menu {
	font-size: 1.7rem;
	border: 0;
	background: none;
 	position: absolute;
	left: 0.2rem;
    margin: 0.5rem;
}

#menu::before {
	content: "☰";
    color: #000000;
}

#menu.open::before {
	content: "✖";
    color: #fff;
}

.navigation {
	display: flex;
	flex-direction: column;
	background-color: #000000;
}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}

.navigation a:hover {
	background-color: #44554D;
	color: #fff;
	font-weight: 600;
}

.open a {
	display: block;
}

#hero-image img {
    width: 100%;
    height: auto;
}

#temple-text {
    position: absolute;
    justify-self: right;
    margin: 2%;
    font-size: 20px;
    padding: 6px;
}

.courgette-regular {
    font-family: "Courgette", cursive;
    font-weight: 400;
    font-style: normal;
}

h2 {
    text-align: center;
    margin: 2rem;
}

.card {
    border: solid 2px #44554D;
    margin: 1rem;
}

.card h3 {
    background-color: #70161E;
    color: white;
    margin: 0px;
}

li {
    text-align: left;
    padding: 5px;
}

.maps {
    display: flex;
    justify-content: center;
}

.flag {
    margin-left: 15px;
}

footer {
    background-color: #70161E;
    color: white;
    margin-top: 20px;
    border-top: solid 5px #44554D;
    align-items: center;
    text-align: center;
    padding: 10px;
}